.popup {
    display: none;
    /*display: flex;*/
    background: #00000079;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
  