.user-info__button {
    position: absolute;
    top: 16px;
    right: 0;
    align-self: center;
    border: 1px solid #fff;
    background-color: transparent;
    color: white;
    width: 64px;
    height: 14px;
    font-size: 12px;
    display: block;
    cursor: pointer;
  }
  
  @media screen and (max-width: 1080px) {
    .user-info__button {
      position: static;
      margin-bottom: 40px;
    }
  }