.like__button {
    background-image: url(../../../images/like_button.svg);
    border: none;
    min-width: 22px;
    min-height: 19px;
}

.like__button:hover {
    opacity: .4;
}

.like__button_active {
    background-image: url(../../../images/black_like_button.svg);
}
