.popup__close {
    background-image: url(../../../images/close_button.svg);
    left: 100%;
    bottom: 100%;
    border: 0;
    min-width: 40px;
    min-height: 40px; 
    position: absolute;
  }
  
  .popup__close:hover {
    opacity: .7;
  }

@media screen and (max-width: 475px) {
    .popup__close {
      min-width: 26px;
      min-height: 26px;
   }
}