.popup__button-submit{
    width: 100%;
    min-height: 50px;
    margin-top: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    border: 0;
    color: #fff;
    background: #000000;
    border-radius: 2px;
    cursor: pointer;
}

.popup__button-submit:hover {
    background-color: rgba(0,0,0,.8);
}

.popup__button-submit:disabled {
    background-color: #E5E5E5;
    border: 1px solid #000;
    color: #000;
    opacity: .2;
}

@media screen and (max-width: 375px){
    .popup__button-submit {
        margin-top: 15px;
        min-height: 40px;
        font-size: 14px;
    }
}
