.popup__item {
    border: 0;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px;
    padding-bottom: 13px;
}


/*@media screen and (max-width: 375px) {
   .popup__item {
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 17px;
    }
}