.popup__title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    color: #000000;
    margin-top: 34px;
    margin-left: 34px;
    margin-bottom: 54px;
    margin-right: 34px;
}

@media screen and (max-width: 767px){
    .popup__title {
        font-size: 18px;
        width: 238px;
        margin-left: 22px;
        margin-right: 22px;
        margin-top: 15px;
        margin-bottom: 75px;
    }
}